/*Inicio del header*/
.header1 {
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 2rem;
}
.ulheader {
    background-color: rgb(223, 159, 190);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.barrasuperior {
    font-size: 1.2rem;
    height: 7rem;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txtbarrasuperior {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-decoration: none;
}
.imgheader {
    width: auto;
    height: 7.5rem;
    border-radius: 10px;
}
.divheader {
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 1rem;
}
.secheader { /*sticky queda clavado ahi, SOLUCIONAR tema que baje mas del header*/
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: -8;
}
.imgmenu {
    display: none;
    height: 1rem;
    width: auto;
}
/*Fin del header*/
/*Inicio del footer*/
footer {
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgfooter {
    height: 5rem;
    width: auto;
}
.divwsp {
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 4rem;
    margin: 2rem;
}
.divig {
    display: flex;
    flex-direction: column;
    align-items:center ;
    margin: 2rem;
}
.divenvio {
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 4rem;
    margin: 2rem;
}
.txtfooter {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Fin del footer*/
/*Inicio del section Inicio*/
.articleserviciocatas {
    background-color: rgb(210, 186, 151);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10cm;
    margin-right: 10cm;
    border-radius: 1cm;
    
}
.imgservcatas {
    margin-top: 2cm;
    border-radius: 1cm;
    transition: all 2s;
    height: 5cm;
    width: auto;
}
.imgservcatas:hover {
    height: 7cm;
}
.txtservcatas {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
.txtaqui {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-decoration: none;
    background-color: rgb(210, 186, 151);
}
.imgpdelmes {
    height: 20rem;
    width: auto;
    margin: 1rem;
    border-radius: 100%;
    transition: all 2s;
}
.imgpdelmes:hover {
    border-radius: 2rem;
}
.divimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.divtxt {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.divpdelmes {
    background-color: rgb(223, 159, 190);
    margin: 5rem;
    border-radius: 2rem;
    padding-bottom: 1rem;
}
/*Fin del section Inicio*/
/*Inicio del section Catas*/
.imgcatas {
    width: 30rem;
    height: auto;
    margin: 0.5rem;
    border-radius: 1rem;
}
.imgcatas:hover {
    width: 60rem;
    height: auto;
    transition: 3s;
}
.sectioncatas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(210, 186, 151);
    margin-left: 15rem;
    margin-right: 15rem;
    padding-bottom: 15rem;
    padding-top: 3rem;
    border-radius: 1rem;
}
.txtcatas {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
/*Fin del section Catas*/
/*Inicio del section Productos*/
.sectionproductos {
    background-color: rgb(210, 186, 151);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 3.5cm;
    margin-right: 3.5cm;
    border-radius: 20px;
}
.txtproductos {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.div1p {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    margin: 1rem;
}
.div2p {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    margin: 1rem;
}
.div3p {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    margin: 1rem;
}
.imgproductos {
    height: 17.5rem;
    width: auto;
    margin-left: 1rem;
    margin-right: 3rem;
    border-radius: 3.5rem;
    padding: 1rem;
}
.imgproductos:hover {
    transform: translate(-1rem, -1rem)
}
/*Fin del section productos*/
/*inicio del section promociones*/
.imgpromo {
    height: 17.5rem;
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
}
.txtpromo {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: rgb(223, 159, 190);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5cm;
}
.divpromo {
    margin: 5rem;
    padding: 1rem;
}
.artpromo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.txtpromo2 {
    height: 2rem;
    width: auto;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
/*Fin del section Promociones*/
/*Inicio del section Nosotros*/
.imgnos {
    height: auto;
    width: 50rem;
    margin: 2rem;
    border-radius: 10px;
}
.sectionnos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(223, 159, 190);
    border-radius: 20px;
    margin: 7rem;
    padding-bottom: 1rem;
}
.txtnos1 {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-decoration: none;
}
.txtnos2 {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
/* Responsive */ 
@media (max-width:700px) {
    .header1 {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5cm;
        padding: 0cm;
    }
    .divheader {
        height: 100%;
        width: auto;
    }
    .pheader {
        display: none;
    }
    .ulheader {
        display: none;
    }
    .imgmenu {
        display: block;
        height: 2.2rem;
        margin-right: 2rem;
    }
    .imgheader {    
        height: 4rem;
    }
    .sectionproductos {
        background-color: rgb(210, 186, 151);
        padding-top: 0rem;
        padding-bottom: 1rem;
        margin-left: 0cm;
        margin-right: 0cm;
        margin: 0cm;
        border-radius: 20px;
    }
    .artpoductos {
        flex-direction: column;
    }
    .txtproductos {
        padding-top: 1.5rem;
    }
    .div1p, .div2p, .div3p {
        flex-direction: column;
        margin: 0cm;
    }
    .txtfooter {
        display: none;

    }
    .divwsp, .divig, .divenvio {
        margin: 0cm;
        padding: 0cm;
    }
    .imgfooter {
        height: 3rem;
        margin: 1.5rem;
        
    }
    .imgproductos {
        margin: 1rem;
        box-shadow: 0px 5px 35px 0px rgb(134, 133, 133);
    }
    .bodyproductos {
        margin: 0cm;
    }

}




